# Authentication token for the MCP Gateway
MCP_GATEWAY_AUTH_TOKEN=changeme

# Docker MCP Gateway profile name to use
MCP_GATEWAY_PROFILE=changeme

# Where Docker MCP port will be served
MCP_GATEWAY_PORT=8800
